.vote-nav
  %ul.tabs
    %li.vote_tab.current_tab.tab
      %a{:href => '#page1'}
        #{t('vote.cast_votes')} 
    - if @question.user_can_view_results?(current_user, @earl)
      %li.results_tab.tab
        = link_to t('nav.view_results'), result_question_path(@question, :widget => true), :id => 'view_results_link'
    %li.about_tab.tab
      %a{:href => '#page3'}
        #{t('nav.about')}
  .clear
